/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



body {
		  font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
		  background-color: #FFF;
		  margin: 0px 0% 0 0%;
      background-image: url(../img/dot.png);
  background-repeat: repeat-y;
  background-position: center;
		}







h1, h2, h3, h4 {
  font-family: 'Prata', serif;
}

h1 {
  text-align:left;
  font-family: 'Prata', serif;
  font-weight: 400;
  padding-bottom:1em;
  }

h1.hero-heading, h2.expertise {
  text-align:center;
  font-size:11.5vw;
  color:#333;
  margin-top:0.5em 0 0em 0;
  clear:both;
  }

.hero-heading {
  margin-top:17vh;
  margin-bottom:0.2em;
  line-height: 1.1em;
}

  h2.expertise {
    color:#333;
    font-size:0.9em;
    font-family: 'Roboto', sans-serif;
    letter-spacing:0px;
    margin:0 0 1em;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

ul.subheading {
  text-align:left;
  display: block;
  clear:both;
  width:100%;
  font-family: 'Roboto', sans-serif;
  color:#333;
  text-transform: uppercase;
  letter-spacing:10px;
  font-size:1.2vw;
  margin-top:3em;
  list-style-type: none;
}

ul.subheading li {
  float:left;
  border-right:1px solid #e3e3e3;
  padding:0 10px 0 20px
}

  ul.subheading li:first-child {
  padding-left:0px;
}

p {
  width:70%;
  font-size:1.6em;
  line-height: 1.5em;
  padding:0 0 0.7em 0;
  font-family: 'Roboto', sans-serif;
}



a:hover {
  text-decoration: none;
  /*transform: scale(1.2);*/
}

a {
  font-family: 'Roboto', sans-serif;
  color:#2ad2a6;
/*  transition: all 1s;
  transform-origin: 50% 50%;*/
}

#splash {
  width:100%;
  height:100vh;
  position:relative;
}

.overlay {
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.0);
  position:absolute;
  z-index:1000;
  text-align:center;

}

.overlay-content {
  width: 100%;
  height: 50vh;
}

.overlay h1, .overlay h2, .overlay p, .overlay ul {
  padding:0 15%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyph {
  position:absolute;
  font-family: 'Prata', serif;
  font-size:2em;
  top:20px;
}

.glyph a {
  font-family: 'Prata', serif;
  text-decoration: none;
  color:#333;
}

.glyph a:hover {
  color:#2ad2a6;
}

.container {
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section {
  height: 100vh;
}

.folio-holder {
  width:70vw;
  text-align: center;
  margin:0 auto;
}

.folio-holder img {
  width:100%;
  margin-bottom:32px;
}

.folio-holder p {
  margin-bottom: 4em;
}


.folio-holder h2 {

    color:#333;
    font-size:0.9em;
    font-family: 'Roboto', sans-serif;
    letter-spacing:0px;
    margin:0 0 3em;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.end {
  height: 30vh;
}

.centerit {
  height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
  width: auto;
  clear:both;
}

.flex-item {
  width:70vw;
  margin:0 auto;
  padding:0;
  text-align: center;
}

.nowidth {
  width:auto;
}


.section ul {margin:0 0 0 0; padding:0 0 0 0;}
.section ul li {  list-style: none; text-align: center; font-size:2em;   font-size:5vh;}

.section ul li a {
  font-family: 'Prata', serif;
  text-align: center;
  color:#333;
}

.section ul li a:hover {
  color:#2ad2a6;
  /*transition: all 0.75s;*/
}

.end ul.contact {margin:0 auto; padding:0 0 0 0; display:flex;
  justify-content: center;}

.end ul.contact li {  list-style: none; display:inline; font-size:2em; padding:0 3%;}

.end ul.contact li a {
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  text-align: center;
  color:#333;
  text-decoration: none;
  display: block;

}

.end ul.contact li a:hover {


}

.end span {
  position: relative;
  display: block;
  cursor: pointer;
}

.end span:before, .end span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 16px;
  top: 35%;
  margin-top: -0.5px;
  background: #333333;
}

.end span:before {
  left: 0px;
}
.end span:after {
  right: 0px;
  background: #2ad2a6;
  mix-blend-mode: multiply;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.end span:hover:before {
  background: #2ad2a6;
  mix-blend-mode: multiply;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.end span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}



.section p, .folio-holder p {
  width:100%;
  font-size:1.3em;
  line-height: 2em;
}

.folio-holder p {text-align: center;}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.box {
  width: 80vmin;
  height: 80vmin;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1.12);
  }
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 25s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 20% 10% 70% / 60% 30% 90% 10%;
  animation: morph 5s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  //filter: blur(5px);
}

.bd {
  width: 142%;
  height: 162%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: linear-gradient(305deg, #2ad2a6, #98FF98);
  background-size: 400% 400%;
  -webkit-animation: colorAnim 10s ease infinite;
  -moz-animation: colorAnim 10s ease infinite;
  animation: colorAnim 10s ease infinite;
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 4s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

#home-link {
  position:fixed;
  z-index:1000;
  top:0px;
  left:5px;
  width:155px;
  height:55px;
  display:block;
}

#home-link .glyph {
  position: absolute;
  font-size: 2em;
  top: 0px;
  text-align: left;
  left: 5px;
  padding-top:0px;
  margin-top:5px;
}




@-webkit-keyframes colorAnim {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-moz-keyframes colorAnim {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@keyframes colorAnim {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;}
  100% {border-radius: 40% 60%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


@media (min-width: 750px) {
  .flex-item {
    width:50vw;
    margin:0 auto;
    padding:0;
    text-align: center;
  }

  h1.hero-heading {
    text-align:center;
    font-size:8.5vw;
    color:#333;
    margin-top:0.5em 0 0em 0;
    clear:both;
    }

    .box {
      width: 60vmin;
      height: 60vmin;
      position: relative;
      /*z-index:-5;
      position: fixed;*/

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scale(1.12);

      }

    }
}
