
html {  --myBlur: 0px;}
* {
  box-sizing: border-box;
}

.mob {display:block;}
.dt {display:none}
body {background:#000; color:#fff; font-family: 'Abel', sans-serif;  overflow-x: hidden; /* Hide horizontal scrollbar */ }
.topbar {width:100vw; position:fixed; top:0px; z-index:100; height:96px; text-align: center; 
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.quote {text-align:center}
p.cite, cite {text-align:center; width:100%; margin:0 auto;}
.topbar p {    
  padding-top:10px;
  text-align: center;
  font-size:2rem; 
  text-transform: uppercase;
  line-height: 1.1;
  display:none;
}
.center {text-align: center;}
.highlight {color: #00FA9A;}
#af-logo {width:48px; height:56px; background-color: transparent; display:block; position:fixed; top:24px; left:24px;text-align: center; margin:0 auto}
.logo img { padding:0px; margin:0px; width:100%;}
.btncontainer {position: absolute; top:15px; right:15px;}
.button {height:48px; line-height:48px; color:#ffffff; transition: all 0.75s ease; background-color: #000;text-transform: uppercase;  border:1px solid#00FA9A; border-radius: 8px; letter-spacing: 4px; font-size:14px; padding:0 16px 0 16px; margin:0 0 0 0; 
  }
.button:hover {
  border:1px solid#00FA9A;
color:#fff;
padding:0 32px 0 32px;
opacity:0.4;
}
.video-background {width:10vw; height:100vh;}
/*img {width:100%;}*/
.center {text-align: center;}
.left {text-align:left;}
p {font-weight:100; text-align: left; font-size:2rem;   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
a {color: #00FA9A; text-decoration:none;}
#downlord {width:76px; float:right;}
.subhead { color: #00FA9A; text-transform: none;}

/*h1 {font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}*/
h1, h2, h3, h4 { 
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  padding:0 0 20px 0;
  text-transform: uppercase;
  line-height: 1;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
h4 {font-family: 'Abel', sans-serif; padding:0 24px; color:#00FA9A; font-size: 2.4rem; margin-top:6rem}
input[type="checkbox"] {
padding:10px;
  background-color: #fff;
  margin: 0 16px 0 0;
  font: inherit;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  transform: translateY(-0.075em);
  float:left;
}
h3 {text-align: left; line-height: 1.3; margin-top: 4rem; color: #00FA9A;}
 a {transition: all 0.5s linear;}
.down:hover {opacity:0.5; }
.down {position:absolute; bottom:20px; left:48%; right:50%; width:76px; height:76px; margin:0 auto; display: block; opacity:1; padding:16px; transform: scale(1);
animation: pulse 2s infinite;}
.down img {width:100%;}
@keyframes pulse {
	0% {
		transform: scale(0.8);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

  /* video hero  ----------------------------------------- */

  .video_contain {
    position: fixed;
    text-align: center;
    width: 100vw;
    height:100vh;
    overflow-y: hidden; 
  }

  #myVideo {
    width: 100%  ;
    height:100vh;
    position: relative;
    top: 0%;
    left: 0%;
    object-fit: cover;
    filter: blur(var(--myBlur));
  }

  .section {width:100%; min-height:100vh; color:#fff;}

  /* x-video-cover icon */
.video-cover-x {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    mix-blend-mode: overlay;
    overflow: hidden;
    opacity:1; 
    }
    
    .video-cover-x img {
    width: 50%;
     margin: 0 auto; 
     -webkit-filter: blur(32px);
    -moz-filter: blur(32px);
    -o-filter: blur(32px);
    -ms-filter: blur(32px);
    filter: blur(32%);
    position: relative;
    top: 10%;
    transform: translateY(-40%);
     }

    .svid {width:100%; text-align: center;}

.video-cover {width:100%; height:100vh; position:absolute; z-index:1; }

.video-header {
  position: relative;
  text-align: center;
  width: 100vw;
  height:100vh;
  overflow-y: hidden; 
}

.video-header, .video-header video {
  width: 100%;
  height:100vh;
  position: relative;
  top: 0;
  left: 0;
}

.video-header video {
  object-fit: cover;
}

 .video-header .viewport-header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;   
}

.viewport-header {z-index:3;}

.splashvid .video-header, .splashvid .video-header video {
  width: 100%;
  height:100vh;
  position: relative;
  top: 0;
  left: 0;
}

.splashvid .video-header .viewport-header {width:100%; background-color:transparent; text-align:center; position:absolute;}
.splashvid .video-header .viewport-header .vtext {padding:0 0px; width:100vw; height:100vh; display: table-cell; text-align:center; vertical-align: middle;   }
 .splashvid .video-header .viewport-header .vtext h1 {font-size:7rem; padding:0 24px;  letter-spacing: 30px; color:#00FA9A;}
 .splashvid .video-header .viewport-header .vtext h2 {font-family: 'Abel', sans-serif; padding:0 24px; color:#FFFFFF; text-transform:uppercase; letter-spacing:10px;}
 .video-cover-x img {
  width: 50%;
  margin: 0 auto; opacity:1; 
  position: relative;
  top: 47%;
  transform: translateY(-47%);
  }

  #scrollcontainer {
    height:200px; 
    position:relative; 
    overflow:hidden;
  }
  
  .photobanner {
    position:absolute; 
    margin:0 0 0 0;
    padding:0 0 0 0;
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 40s linear infinite;
  }
  
  .photobanner img {    
    margin: 0 0em ; padding:35px;
  }

  .photobanner li {    
    display: inline-block; width:200px; height:200px; background-color: transparent; margin: 0 4px ; color:#000000; text-align: center; line-height: 200px;
  }

   .photobanner li img {    
width:auto; vertical-align: middle;
  }
  
  @keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }

.smallt {font-size:12px; line-height: 1.4;}
.footer {text-align: center;   }
.footer p {text-align: center; font-size:20px; margin-bottom:0px}
.footer img {width:20%; margin:48px auto 24px auto}
.footer h2 {font-size:3rem; line-height: 1.3;}
.footer a {transition: all 0.75s ease;}
.footer a:hover {color:#fff; text-shadow: 0 0 50px; #48abe0;}
.padtop {padding-top: 20vh;}
.grid-container {overflow-x: hidden; }/* Hide horizontal scrollbar */
.grid-container img {width:100%;}
div.grid-container.footer img {width:40%;}
ul.tools  {margin:0 0 4rem 0; padding:0 0 0 0;}
.tools li { list-style-type: none;
  text-align: center;
  padding:0.5rem;
margin:0 0 0 0;
}

/* horizontal scroller */

.ssection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.smooth-scroll-pause {
  min-height: 75vh;
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.horizontal-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-height:90vh;
  min-width: 90vw;
}
.horizontal-panel img, .horizontal-panel video {
  margin:10px auto;
  max-width: 100vw;
  max-height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.horizontal-panel video {

  max-width: 100vw;
  max-height: 60vh;
}

.ssection p.info {width:40%; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1.5rem; padding:20px; margin-top:30px; font-style: italic; color:#999; border-top:1px dotted #00FA9A; border-bottom:1px dotted #00FA9A}

.a {
  min-width: 100vw;
}


.white {color:#fff !important}
h2 { font-size: 3rem; }
.folioimg {width:100vw;}
.folioimg img {width:100%;}

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
.dt {display: none;}
.mob {display:block}
  .splashvid .video-header .viewport-header .vtext h1 {font-size:10rem; padding:0 48px; color:#00FA9A;}
  .splashvid .video-header .viewport-header .vtext h2 {padding:0 48px;}

  .video-cover-x img {width: 50%;}
  .splashvid .video-header .viewport-header .vtext {
    width: 100vw; padding:0 0vw;}

.grid-container {padding:26px;}


}

/* Larger than phablet */
@media (min-width: 900px) {
  .big {font-size:8rem !important}
  .dt {display: block;}
.mob {display:none}
    p, ul, li {text-align: left; font-size:2.3rem;}
    h1 { font-size: 8.0rem; }
    h2 { font-size: 4rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 2.4rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
    .grid-container {padding:48px;}
    .logo img { padding:0px; margin:0px;}
    .btncontainer {position: absolute; top:18px; right:24px;}

    .panel {
       height: 90%;
      padding: 150px 12rem 2rem 12rem;
      background-color: transparent;
      overflow: hidden;
    }


    .grid-container img {width:70%; }

    .video_contain {
      position: fixed;
      text-align: center;
      width: 100vw;
      height:100vh;
      overflow-y: hidden; 
    }
  
    .topbar p {    
      display:block;
    }

}


/* Larger than tablet */
@media (min-width: 1200px) {

    h1 { font-size: 12.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 2.4rem;}
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }

    .splashvid .video-header .viewport-header .vtext {
      width: 100vw;
      text-align: center;
  }
  .splashvid .video-header .viewport-header .vtext h1 {
    font-size: 14rem; /*letter-spacing: 50px;*/}

    .topbar {width:100vw; position:fixed; top:0px; z-index:100; height:180px; text-align: center; }
    .splashvid .video-header .viewport-header .vtext h1 {padding:0 0vw;}
    .splashvid .video-header .viewport-header .vtext h2 {font-size:2.4rem; line-height: 1.3;}
    .video-cover-x img {width: 20%;}
    .form-holder {width:60%; margin:0 auto; padding: 128px;}

    .grid-container {padding:64px;}

    .video_contain {
      position: fixed;
      text-align: center;
      width: 100vw;
      height:100vh;
      overflow-y: hidden; 
    }

}

/* grabber folio */
.menu {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 50vh;
}
.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.menu--wrapper {
  counter-reset: count;
  display: flex;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
.menu--item {
  counter-increment: count;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100%;
  border-right:1px solid #000;
  /*padding: 0 1.5vw;*/
  /*overflow: hidden;*/
}
@media (max-width: 767px) {
  .menu--item {
    width: 40vw;
    height: 40vw;
  }
}
.menu--item:nth-child(n+15):before {
  content: counter(count);
}
.menu--item figure {
  position: absolute;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  padding: 0; margin:0 0 0 0 !important;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  transform-origin: center;
}
.menu--item figure img, .menu--item figure video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  transform-origin: center;
}

.menu--item figure:before {
  position: absolute;
  z-index: 2;
  bottom: 1vw;
  left: 1vw;
  display: inline-block;
  content: "0" counter(count);
  color: #ffffff;
  font-size: 3vw;
}

.version {
  display: inline-block;
  position: fixed;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  background: #333;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  top: -30px;
  right: -50px;
  bottom: auto;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  border-radius: 0;
  padding: 8px 30px;
  font-size: 11px;
}
.version:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0%;
  background: transparent;
}
@media (max-width: 767px) {
  .version {
    transform: scale(0.6) rotate(45deg);
    right: -100px;
  }
}
